<header class="common-header-component">
    <div class="container">
        <div class="row">
            <div class="col-3">
                <h1 class="dashboard-logo">
                    <a [routerLink]="['/']">Lands</a>
                </h1>
            </div>
            <div class="col-9 d-flex align-items-center">
                <div class="header-signout">
                    <h2 class="header-user-email">{{auth.email}}</h2>
                    <mat-icon
                        aria-hidden="false"
                        aria-label="User icon"
                        fontIcon="manage_accounts"></mat-icon>
                </div>
            </div>
        </div>
    </div>
</header>