.common-header-component {
    border-bottom: 1px solid #000000;
    display: flex;
    align-items: center;
    height: 60px;
    width: 100%;
    .dashboard-logo {
        margin-bottom: 0px;
        a {
            color: #222222;
            font-size: 25px;
            font-weight: 600;
            letter-spacing: .2px;
            text-decoration: unset;
        }
    }
    .header-signout {
        display: flex;
        margin-left: auto;
        .header-user-email {
            font-size: 15px;
            margin-right: 10px;
            margin-bottom: 0px;
            overflow-x: clip;
            text-overflow: ellipsis;
            width: 110px;
        }
    }
}