<div class="dashboard-category-new-container">
    <form [formGroup]="formCategory" (submit)="onSubmitHandler($event)">
        <div class="row">
            <div class="col-12 col-md-6">
                <app-commons-input
                    ngDefaultControl
                    [formControl]="title"
                    [label]="'Title'"
                    [id]="'category-title'"
                    [submit]="submit"
                    [type]="'text'"></app-commons-input>
            </div>

            <div class="col-12 col-md-6">
                <app-commons-input
                    ngDefaultControl
                    [formControl]="description"
                    [label]="'Description'"
                    [id]="'category-des'"
                    [submit]="submit"
                    [type]="'text'"></app-commons-input>
            </div>

            <div class="col-12 mt-5">
                <app-common-button
                    [type]="'submit'"></app-common-button>
            </div>
        </div>
    </form>
</div>
