<div class="common-tabs-component">
    <div class="tab-container">
        <ul class="tab-list">
            <li>
                <a [routerLink]="['/role']" >Phân quyền</a>
            </li>
            <li>
                <a [routerLink]="['/user']" >Người dùng</a>
            </li>
            <li>
                <a [routerLink]="['/category']" >Danh mục</a>
            </li>
            <li>
                <a [routerLink]="['/product']" >Sản phẩm</a>
            </li>
            <li>
                <a (click)="onUserSignout()" class="btn-signout">Đăng xuất</a>
            </li>
        </ul>
    </div>
</div>