<div
    [ngClass]="{'full-size': size !== 'default', 'normal-size': size === 'default'}"
    class="common-button-container">
    <button
        *ngIf="kind === 'default'"
        data-id="1"
        mat-raised-button
        [type]="type"
        (click)="onClickHandler($event)"
        color="primary">{{title}}</button>

    <button
        *ngIf="kind === 'danger'"
        data-id="1"
        mat-raised-button
        [type]="type"
        (click)="onClickHandler($event)"
        color="warn">{{title}}</button>
</div>
