.common-button-container {
    &.normal-size {
        width: fit-content;
    }
    &.full-size {
        width: 100%;
        button.mdc-button {
            width: 100%!important;
        }
    }
}