/* You can add global styles to this file, and also import other style files */
:root {
    --bgFirst: #e7e7e7;
    --bg-01: #624bff;
    --bg-02: #e0dcfe;
}

html, body {
    box-sizing: border-box;
    font-size: 10px;
    height: 100%;
}
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

.mat-mdc-form-field-error-wrapper {
    font-size: 15px;
    padding: 0px!important;
}
