<div class="pagination-container">
    <nav *ngIf="amount > itemsOfPage" aria-label="Page navigation">
        <ul class="pagination">
          <!-- <li class="page-item">
            <a class="page-link" href="#" aria-label="Previous">
              <span aria-hidden="true">&laquo;</span>
            </a>
          </li> -->
          <li *ngFor="let item of itemsTab" class="page-item">
                <button
                  [ngClass]="{'active': item == currentPage}"
                  (click)="onChangePage(item)"
                  class="page-link" >{{item + 1}}</button>
          </li>
          <!-- <li class="page-item">
            <a class="page-link" href="#" aria-label="Next">
              <span aria-hidden="true">&raquo;</span>
            </a>
          </li> -->
        </ul>
      </nav>
</div>
